.percent{
    position: relative;
    width: 150px;
    height: 150px;
    text-align: center;
    place-items: center;
}
.percent svg{
    position: relative;
    width: 150px;
    height: 150px;
    text-align: center;
    place-items: center;
}
.percent svg .a{
    width: 150px;
    height: 150px;
    fill: none;
    stroke-width: 5;
    stroke:#999;
    transform: translate(5px,5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}

.percent svg .a:nth-child(1){
    stroke-dashoffset: 0;
    stroke: #f3f3f3;
}
.percent svg .a:nth-child(2){
    stroke-dashoffset:100;
    stroke:#89CFF0;
}

.percent .number{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    margin-left: 30px;
}
.number svg .b{
    width: 100px;
    height: 100px;
    fill: none;
    stroke-width: 5;
    stroke:#999;
    transform: translate(5px,5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}
.number svg .b:nth-child(1){
    stroke-dashoffset: 0;
    stroke: #f3f3f3;
}
.number svg .b:nth-child(2){
    stroke-dashoffset:270;
    stroke:#ffb347;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    align-self: center;
    opacity: 1; /* Firefox */
    
  }